extends layout

block content
    header
        h1(class="title")= title
    
    div(class="container little")
        h1(class="content")= "Authentification effectuée avec succes, vous pouvez maintenant utiliser l'overlay Spotify !"