* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* background: rgba(0,0,0,.5); */
}

.mainContainer {
    width: 490px;
    display: flex;
    background-color: rgba(0,0,0,0.8);
    padding-bottom: 7px;
    padding-right: 10px;
    border-radius: 20px;
}

.container {
    width: 100%;
    margin: 10px;
}

.bold {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.light {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

#image {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-left: 10px;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}

.progress-value {
    box-shadow: 0 5px 20px -5px #2559db; /* progress bar color */
    border-radius: 100px;
    background: #2559db; /* progress bar color */
    height: 15px;
    width: 90%;

    transition: 1s ease;
}

.hidden {
    display: none;
}

#info {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 15px;
    font-size: 25px;
}